In [301]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler,Normalizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [302]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")
sample=pd.read_csv('sample_submission.csv')
train

,id,date,country,store,product,num_sold
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49
...,...,...,...,...,...,...
136945,136945,2021-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,700
136946,136946,2021-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,752
136947,136947,2021-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,111
136948,136948,2021-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,641
136949,136949,2021-12-31,Spain,Kagglazon,Using LLMs to Write Better,539

In [303]:
train['date']=pd.to_datetime(train['date'])
train["year"]=train["date"].dt.year
train["month"]=train["date"].dt.month
train["day"]=train["date"].dt.day
grp_month_day=train.groupby(["month","day"])

train

,id,date,country,store,product,num_sold,year,month,day
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63,2017,1,1
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66,2017,1,1
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9,2017,1,1
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59,2017,1,1
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49,2017,1,1
...,...,...,...,...,...,...,...,...,...
136945,136945,2021-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,700,2021,12,31
136946,136946,2021-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,752,2021,12,31
136947,136947,2021-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,111,2021,12,31
136948,136948,2021-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,641,2021,12,31
136949,136949,2021-12-31,Spain,Kagglazon,Using LLMs to Write Better,539,2021,12,31

In [306]:
def func(x):
    scalar=StandardScaler()
    scalar.fit(x.values.reshape(-1,1))
    x=scalar.transform(x.values.reshape(-1,1)).reshape(x.values.size)+5
    return x
# def func(x):
#     nor=Normalizer()
#     x=nor.transform(x.values.reshape(-1,1)).reshape(x.values.size)
#     return x

def func2(x):
    print(x)

scaler = StandardScaler()
grp_date=train.groupby("date")
grp_month=train.groupby(["year","month"])
train["nor_sold"]= grp_month["num_sold"].transform(func)
grp_all=train.groupby(["country","store","product","month","day"])
train["days_year_avg"]=grp_all["nor_sold"].transform("mean")  
grp_month_day.get_group((3,29))

,id,date,country,store,product,num_sold,year,month,day,nor_sold,days_year_avg
6525,6525,2017-03-29,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,31,2017,3,29,4.237626,4.214412
6526,6526,2017-03-29,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,35,2017,3,29,4.261555,4.246167
6527,6527,2017-03-29,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,5,2017,3,29,4.082083,4.098947
6528,6528,2017-03-29,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,33,2017,3,29,4.249591,4.224618
6529,6529,2017-03-29,Argentina,Kaggle Learn,Using LLMs to Write Better,33,2017,3,29,4.249591,4.238951
...,...,...,...,...,...,...,...,...,...,...,...
116170,116170,2021-03-29,Spain,Kagglazon,Using LLMs to Improve Your Coding,373,2021,3,29,6.009425,6.132287
116171,116171,2021-03-29,Spain,Kagglazon,Using LLMs to Train More LLMs,421,2021,3,29,6.257454,6.411733
116172,116172,2021-03-29,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,61,2021,3,29,4.397239,4.437769
116173,116173,2021-03-29,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,369,2021,3,29,5.988756,6.114781
116174,116174,2021-03-29,Spain,Kagglazon,Using LLMs to Write Better,388,2021,3,29,6.086934,6.248056

In [307]:
train_data=train.drop(["date","nor_sold","id"],axis=1)

In [308]:

def factorize_dataframe(df, columns_to_factorize):
    mappings = {}
    
    for col in columns_to_factorize:
        labels, unique_values = pd.factorize(df[col])
        df[col] = labels+1
        mappings[col] = dict(zip(unique_values, labels+1))
    df["year"]=df["year"]-2000
    return df, mappings




# Columns to factorize
columns_to_factorize = ['country', 'store', 'product']

# Apply the function and get the transformed DataFrame and mappings
train_data_factorize, mappings = factorize_dataframe(train_data, columns_to_factorize)

# print("Transformed DataFrame:")
# print(train_data_factorize)
print("\nMappings:")
print(mappings)
train_data_factorize

Mappings:
{'country': {'Argentina': 1, 'Canada': 1, 'Estonia': 1, 'Japan': 1, 'Spain': 1}, 'store': {'Kaggle Learn': 1, 'Kaggle Store': 1, 'Kagglazon': 1}, 'product': {'Using LLMs to Improve Your Coding': 1, 'Using LLMs to Train More LLMs': 2, 'Using LLMs to Win Friends and Influence People': 3, 'Using LLMs to Win More Kaggle Competitions': 4, 'Using LLMs to Write Better': 5}}

        country  store  product  num_sold  year  month  day  days_year_avg
0             1      1        1        63    17      1    1       4.289503
1             1      1        2        66    17      1    1       4.294903
2             1      1        3         9    17      1    1       4.114223
3             1      1        4        59    17      1    1       4.285101
4             1      1        5        49    17      1    1       4.239338
...         ...    ...      ...       ...   ...    ...  ...            ...
136945        5      3        1       700    21     12   31       7.334009
136946        5      3        2       752    21     12   31       7.324008
136947        5      3        3       111    21     12   31       4.595219
136948        5      3        4       641    21     12   31       7.042956
136949        5      3        5       539    21     12   31       6.536472

[136950 rows x 8 columns]

In [402]:
Y=train_data_factorize.loc[:,["num_sold"]]
X=train_data_factorize.drop(["num_sold","country","store","product"],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
# Step 3: Create and fit the Ridge regression model
alpha = 1.0  # Regularization strength (lambda)
ridge_model = Ridge(alpha=alpha)
ridge_model.fit(X_train, y_train)

# Step 4: Make predictions on the test set
y_pred = ridge_model.predict(X_test)

# Step 5: Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 961.0019312968781

In [359]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

# Step 3: Make predictions on the test set
y_pred = linear_model.predict(X_test)

# Step 4: Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Step 5: Get the coefficients and intercept of the linear model
coefficients = linear_model.coef_
intercept = linear_model.intercept_
print("Coefficients:", coefficients)
print("Intercept:", intercept)

Mean Squared Error: 961.0507931831004
Coefficients: [[-1.03756308e-01 -5.09362515e-02 -1.71051393e-01  7.80960257e-01
   5.15316126e-01  1.68248255e-02  1.82456604e+02]]
Intercept: [147.92531445]

In [344]:
# degree = 2  # Degree of the polynomial
# poly_features = PolynomialFeatures(degree=degree)
# X_train_poly = poly_features.fit_transform(X_train)
# X_test_poly = poly_features.transform(X_test)

# # Fit a linear regression model to the polynomial features
# model = LinearRegression()
# model.fit(X_train_poly, y_train)

# # Make predictions on the test set
# y_pred = model.predict(X_test_poly)

# # Calculate Mean Squared Error
# mse = mean_squared_error(y_test, y_pred)
# print("Mean Squared Error:", mse)

Mean Squared Error: 868.9765838013551

In [390]:
degree = 2  # Degree of the polynomial
poly_features = PolynomialFeatures(degree=degree)
X_train_poly = poly_features.fit_transform(X_train)
X_test_poly = poly_features.transform(X_test)

# Fit a linear regression model to the polynomial features
model = LinearRegression()
model.fit(X_train_poly, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test_poly)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 868.9765838013551

In [321]:
# for col in ['country', 'store', 'product']:
#     test[col] = test[col].map(mappings[col])

In [345]:
test["date"]=pd.to_datetime(test["date"])
test["year"]=test["date"].dt.year-2000
test["month"]=test["date"].dt.month
test["day"]=test["date"].dt.day
train

,id,date,country,store,product,num_sold,year,month,day,nor_sold,days_year_avg
0,0,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,63,2017,1,1,4.414481,4.289503
1,1,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,66,2017,1,1,4.430502,4.294903
2,2,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,9,2017,1,1,4.126110,4.114223
3,3,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,59,2017,1,1,4.393120,4.285101
4,4,2017-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,49,2017,1,1,4.339718,4.239338
...,...,...,...,...,...,...,...,...,...,...,...
136945,136945,2021-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,700,2021,12,31,7.172781,7.334009
136946,136946,2021-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,752,2021,12,31,7.400302,7.324008
136947,136947,2021-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,111,2021,12,31,4.595672,4.595219
136948,136948,2021-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,641,2021,12,31,6.914632,7.042956
136949,136949,2021-12-31,Spain,Kagglazon,Using LLMs to Write Better,539,2021,12,31,6.468342,6.536472

In [401]:
result

array([[ 35.67774406],
       [ 36.49154223],
       [  3.35470022],
       ...,
       [ 97.28730398],
       [543.71459118],
       [451.13335295]])

In [383]:
merged_df = test.merge(train[['country', 'store', 'product', 'month',"day","days_year_avg"]],
                       on=['country', 'store', 'product', 'month',"day"], how='left')
merged_df.drop_duplicates(inplace=True)

In [384]:
for col in ['country', 'store', 'product']:
    merged_df[col] = merged_df[col].map(mappings[col])
merged_df.drop(['id','date'],axis=1,inplace=True)

In [385]:
merged_df.fillna(22,inplace=True)
merged_df

        country  store  product  year  month  day  days_year_avg
0             1      1        1    22      1    1       4.289503
5             1      1        2    22      1    1       4.294903
10            1      1        3    22      1    1       4.114223
15            1      1        4    22      1    1       4.285101
20            1      1        5    22      1    1       4.239338
...         ...    ...      ...   ...    ...  ...            ...
136850        1      1        1    22     12   31       7.334009
136855        1      1        2    22     12   31       7.324008
136860        1      1        3    22     12   31       4.595219
136865        1      1        4    22     12   31       7.042956
136870        1      1        5    22     12   31       6.536472

[27375 rows x 7 columns]

In [391]:
result=model.predict(poly_features.transform(merged_df))

In [396]:
(result>1000).sum()

22731

In [408]:
result=ridge_model.predict(merged_df.drop(["country","store","product"],axis=1))
                           
result_t=pd.DataFrame({"id":test["id"],"num_sold":result.reshape(result.size)})

result_t.to_csv("result_ridge.csv", index=False)

In [365]:
test

,id,date,country,store,product,year,month,day
0,136950,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Improve Your Coding,22,1,1
1,136951,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Train More LLMs,22,1,1
2,136952,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Win Friends and Influence People,22,1,1
3,136953,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Win More Kaggle Competitions,22,1,1
4,136954,2022-01-01,Argentina,Kaggle Learn,Using LLMs to Write Better,22,1,1
...,...,...,...,...,...,...,...,...
27370,164320,2022-12-31,Spain,Kagglazon,Using LLMs to Improve Your Coding,22,12,31
27371,164321,2022-12-31,Spain,Kagglazon,Using LLMs to Train More LLMs,22,12,31
27372,164322,2022-12-31,Spain,Kagglazon,Using LLMs to Win Friends and Influence People,22,12,31
27373,164323,2022-12-31,Spain,Kagglazon,Using LLMs to Win More Kaggle Competitions,22,12,31
27374,164324,2022-12-31,Spain,Kagglazon,Using LLMs to Write Better,22,12,31